@import "fonts/AvenirNextCyr-Medium/style.css";
@import "fonts/AvenirNextCyr-Demi/style.css";
@import "fonts/AvenirNextCyr-Bold/style.css";
@import "fonts/AvenirNextCyr-Heavy/style.css";

html, body, .main-content {
    height: 100%;
    overflow-x: hidden;
}

.main-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 35px;
}

.safe-area {
    position: fixed;
    bottom: 0;
    min-height: 35px;
    height: 35px;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, #FFFFFF 100%);
    z-index: 1000;
}

.background-block {
    position: relative;
    padding: 35px 20px 11px 20px;
    background: url("../assets/img/travel.png") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Avenir Next', sans-serif;
    color: #232323;
    height: 100%;
}

.background-block .gradient {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    min-height: 200px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, #FFFFFF 100%);
}

.background-block .grids {
    font-size: 36px;
    margin-bottom: -1px;
}

.background-block .premium {
    font-size: 24px;
    margin-bottom: 18px;
}

.background-block .premium, .grids {
    font-weight: 800;
    z-index: 1;
}

.background-block .limited-link {
    font-family: 'Avenir Next', sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #454545;
    z-index: 1;
}

.pay-block {
    display: flex;
    flex-direction: column;
    padding: 15px 20px 0 20px;
}

.pay-block .title-text {
    width: 145px;
    height: 38px;
    font-family: 'Avenir Next', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.45px;
    color: #454545;
    margin-bottom: 10px;
}

.pay-block .plan-selector {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.pay-block .plan-selector .plan-button {
    box-sizing: border-box;
    height: 91px;
    border-radius: 8px;
    font-family: 'Avenir Next', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #F0318A;
    border: 1px solid #FFB8D2;
    padding: 16px;
    width: 100%;
    cursor: pointer;
    transition: 0.05s linear;
}

.pay-block .plan-selector .plan-button.selected {
    width: calc(100% - 2px);
    border: 3px solid #F62F79;
    padding: 14px;
    box-shadow: inset 0 21px 10px -23px rgba(0, 0, 0, 0.66);
}

.pay-block .plan-selector .plan-button:first-child {
    margin-right: 3px;
}

.pay-block .plan-selector .plan-button .plan-name {
    margin-bottom: 8px;
}

.pay-block .plan-selector .plan-button .plan-price {
    margin-bottom: 6px;
}

.pay-block .plan-selector .plan-button .plan-text {
    font-weight: 500;
    font-size: 12px;
}

.pay-block .pay-button {
    width: 100%;
    min-height: 54px;
    height: 54px;
    background: #F0318A;
    border-radius: 8px;
    font-family: 'Avenir Next', sans-serif;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.pay-block .terms-block {
    position: relative;
    max-height: 53px;
    text-align: center;
    font-family: 'Avenir Next', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #454545;
    mix-blend-mode: normal;
    opacity: 0.6;
    overflow-y: scroll;
}

.pay-block .terms-block b {
    font-weight: 600;
    text-decoration: underline;
}

.pay-block .terms-block .gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, #FFFFFF 100%);
}




